@font-face {
  font-family: Ginora Sans;
  font-weight: 400;
  src: url(.//fonts/Ginra\ Sans\ Regular.otf);
}

@font-face {
  font-family: Ginora Sans;
  font-weight: 700;
  src: url(.//fonts/Ginra\ Sans\ Bold.otf);
}

@font-face {
  font-family: Gilroy-Regular;
  src: url(.//fonts/gilroy-regular.ttf);
}

@font-face {
  font-family: Ginora Sans;
  font-weight: 600;
  src: url(.//fonts/Ginra\ Sans\ Semi\ Bold.otf);
}

@font-face {
  font-family: Ginora Sans;
  font-weight: 300;
  src: url(.//fonts/Ginra\ Sans\ Light.otf);
}

@font-face {
  font-family: Gilroy Light;
  src: url(.//fonts/gilroy-light.ttf);
}

@font-face {
  font-family: Gilroy Medium;
  src: url(.//fonts/gilroy-medium.ttf);
}

html {
  width: 1160px;
  height: 8350px;
  margin: auto;
}

body {
  position: relative;
  width: 1160px;
  background: #1d1d1d;
}

nav {
  position: sticky;
  width: 1160px;
  height: 80px;
  top: 15px;
  z-index: 1;
  margin: auto;
  padding: 20px 0px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  background: #232526;
}

.nav-link_left {
  display: flex;
  gap: 30px;
}

.header-text-left {
  font-family: "Ginora Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;

  color: #f4f4f4;
}
.header-text-left:hover {
  color: #c6c4c4;
}
.header-text-left:active {
  color: #959393;
}
.nav-link_left {
  display: flex;
  gap: 30px;
}

.nav-link_right {
  display: flex;
  gap: 30px;
}

.header-text-right {
  font-family: "Ginora Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;

  color: #f4f4f4;
}
.header-text-right:hover {
  color: #c6c4c4;
}
.header-text-right-menu {
  font-family: "Ginora Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;

  color: #f4f4f4;
}
.header-text-right-menu:hover {
  color: #c6c4c4;
}
.header-text-right-menu:active {
  color: #959393;
}
.icon-menu {
  padding-left: 6px;
  background: #8093ff;
  background: linear-gradient(to top left, #8093ff 100%, #66ffe5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn1:hover {
  color: #7a8efb;
}
.btn1:active {
  color: #5972fb;
}

@media (max-width: 360px) {
  html {
    width: 360px;
    margin: 0 auto;
  }
  body {
    width: 360px;
  }
  nav {
    position: sticky;
    width: 360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .nav-link_left,
  .header-text-right {
    display: none;
  }

  .header-text-right-menu > span {
    display: none;
  }
  .icon-menu {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    background: #8093ff;
    background: linear-gradient(to top left, #8093ff 0%, #66ffe5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .header-logo {
    margin-left: 20px;
  }
}
